<h2>Ask your coach anything:</h2>
<div class="banner">
  <form action="/answer">
    <input class="box"type="text" name="question">
    <input class="btn" type="submit" value="Ask!">
  </form>
</div>
